* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 660px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 20px 0;
    border-bottom: 1px solid rgb(0, 0, 0);
}

h3 {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}


.file_name {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file_name+label {
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 240, 240);
    display: inline-block;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 5px;
}

.file_name+label:hover {
    border-radius: 10px;
}

.user_info,
.permission_type,
.permission_reason {
    display: block;
    margin: 25px 0px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.user_info {
    margin: 0 auto;
}

.user_info input,
.permission_reason input {
    display: block;
    width: 100%;
    padding: 3px 10px;
    outline: none;
    margin: 15px 0px;
}

table, th, td {
    border: 1px solid black;
    margin: 0px 0px 25px;

}

form button {
    padding: 5px 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

form button:hover {
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

form a,
.message a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.heading {
    text-align: center;
}